<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="assets/svg/logo.svg" width="30px" />
    <ion-title> Tous les cinemas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accueil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let cinema of allCinemas">
    <ion-card-header>
      <ion-card-subtitle>{{ cinema.localisation.city }}</ion-card-subtitle>
      <ion-card-title>{{ cinema.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="assets/img/{{ cinema.image }}.jpeg" alt="" />
      <div>
        <ion-icon name="location-outline"></ion-icon> {{
        cinema.localisation.adress }}
      </div>
    </ion-card-content>
    <ion-item>
      <div>
        <ion-button (click)="fav(cinema.id)">
          Favoris
          <ion-icon
            *ngIf="cinema.fav; else noFav"
            name="checkmark-done-outline"
          ></ion-icon>
          <ng-template #noFav>
            <ion-icon name="heart-outline"></ion-icon
          ></ng-template>
        </ion-button>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
