:root {

	--ion-background-color: white;
	--ion-text-color: black;

	--ion-color-primary: #5900ff;
	--ion-color-primary-rgb: 89,0,255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #4e00e0;
	--ion-color-primary-tint: #6a1aff;

	--ion-color-secondary: #c09eff;
	--ion-color-secondary-rgb: 192,158,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #a98be0;
	--ion-color-secondary-tint: #c6a8ff;

	--ion-color-tertiary: #f2ebff;
	--ion-color-tertiary-rgb: 242,235,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #d5cfe0;
	--ion-color-tertiary-tint: #f3edff;

	--ion-color-success: #70ff9b;
	--ion-color-success-rgb: 112,255,155;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #63e088;
	--ion-color-success-tint: #7effa5;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #ff99a7;
	--ion-color-danger-rgb: 255,153,167;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e08793;
	--ion-color-danger-tint: #ffa3b0;

	--ion-color-medium: #7880a1;
	--ion-color-medium-rgb: 120,128,161;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #6a718e;
	--ion-color-medium-tint: #868daa;

	--ion-color-light: #f2ebff;
	--ion-color-light-rgb: 242,235,255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d5cfe0;
	--ion-color-light-tint: #f3edff;

}
